<!DOCTYPE html>
<html>
<head>
  <title>Stripe Payment Test</title>
  <script src="https://js.stripe.com/v3/"></script>
</head>
<body>
  <h1>Stripe Payment Test</h1>
  
  <form id="payment-form">
    <div class="form-row">
      <label for="card-element">Credit or debit card</label>
      <div id="card-element">
        <!-- A Stripe Element will be inserted here. -->
      </div>

      <!-- Used to display form errors. -->
      <div id="card-errors" role="alert"></div>
    </div>
    <div class="form-row">
    <label for="payment-amount">Payment Amount</label>
    <input type="text" id="payment-amount" name="payment-amount" required>
    </div>
    # <input type="hidden" id="stripeToken" name="stripeToken" value="">
    # <input type="hidden" id="amount" name="amount" value="1000">

    <button id="submit">Submit Payment</button>
  </form>

  <script>
    var stripe = Stripe('pk_test_51NeHfNSEGkcbRibw9zbTxGOJxJA4YSVMSGLNTaPh4uQBe77MHvjqYHdDhGdBLmXHhqAHIgarumij1LziNFoLmUWT00i5beQDrE'); // Replace with your Stripe publishable key
    var elements = stripe.elements();

    var card = elements.create('card');
    card.mount('#card-element');

    var form = document.getElementById('payment-form');
    var errorElement = document.getElementById('card-errors');

    form.addEventListener('submit', function(event) {
      event.preventDefault();

      var paymentAmount = document.getElementById('payment-amount').value; // Get payment amount from the input field

      stripe.createToken(card).then(function(result) {
        if (result.error) {
          // Inform the user if there was an error.
          errorElement.textContent = result.error.message;
        } else {
          // Send the token to your server.
          fetch('/payments/create', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
              'Authorization': 'Bearer sk_test_51NeHfNSEGkcbRibwwjrOyg5Uh0uwwQdOFH6803tEWslsO71LY10nNuYx09AOBl6dF5rYGZOSIMifEhcBmeyOTTGw00Ap1Tfrru' // Replace with your Stripe secret key
            },
            body: JSON.stringify({ token: result.token.id, amount: paymentAmount})
          }).then(function(response) {
            return response.json();
          }).then(function(data) {
            console.log(data); // Handle the response from your server
          });
        }
      });
    });
  </script>
</body>
</html>
